* {
  color: #000;
  font-family: 'VT323', monospace;
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 20px 30%;
  padding: 10px;
  border: dashed 5px;
}

h1 {
  text-align: center;
  font-size: 3em;
  margin: 0;
}

p {
  font-size: 1.2em;
}

.button {
  margin: 20px;
  display: inline-block;
  border-radius: 2px;
  background-color: #42d9f4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
